<!DOCTYPE html>
<html>
<head>
  <title>MagazineApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">

  <div class="head">
    <% if user_signed_in? %>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete,:class=> "pull-right") %>
    <%= link_to 'View Magazine', journals_path %>
    <% else %>
    <%= link_to 'Sign Up', new_user_registration_path %>
    <%= link_to 'Sign In', new_user_session_path %>
  <% end %>
  </div>
  <%= yield %>
</div>
</body>
</html>
